body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  }
a {
  color: black;
  text-decoration: none;
  }
  a:hover {
    color: #f77;
    text-decoration: underline;
    }
.heading {
  font-family: "PT Serif", serif;
  color: #f77;
  margin: 0 0 0 0;
  display: block;
  text-align: center;
  font-size: 3em;
  }
.page {
  padding: 10px;
  }
.desc {
  background-color: #111;
  color: white;
  }
  .desc a {
    color: #f77;
    }
.screen {
  padding: 10%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .screen > * {
    max-width: 500px;
    }
.iconlinks {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  }
  .iconlinks__icon {
    width: 50px;
    fill: #fff;
    }
    .iconlinks__icon:hover {
      fill: #f77;
      }
.index {
  font-size: x-large;
  }
  .index__item {
    text-decoration: none;
    }