body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  height: 100%;
  }
a {
  color: black;
  text-decoration: underline;
  }
  a:visited {
    color: black;
    text-decoration: underline;
    }
  a:hover {
    color: #f77;
    text-decoration: none;
    }
.center {
  text-align: center;
  }
  .center__in {
    display: inline-block;
    }
.page {
  max-width: 600px;.
  }
.topbar {
  width: 100%;
  background-color: rgba(255, 255, 255, .7);
  display: flex;
  justify-content: space-around;
  position: fixed;
  }
  .topbar a {
    font-family: monospace;
    }