---
layout: default
---
<section class="hero">
  <img alt="Изображение тумбочки с крыльями и пушками." src="data/img/cozy-bedside.png" class="hero__logo"/>
  <h1 class="hero__title">Уютная тумбочка</h1>
  <p>Я уже несколько лет сюда ничего не пишу и не планирую писать. Я не перестал это делать. Все новые статьи выходят в моём <a href="https://garden.bouncepaw.com">цифровом саду</a>. Телеграм-канал всё так же активен, как и все эти годы.</p>
</section>

<ul class="posts">
  {% for post in site.posts %}
  <li>
    <b>
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </b>
    <p>{{ post.excerpt }}</p>
  </li>
  {% endfor %}
</ul>

{% include footer.html %}
