body {
  margin: 0;
}
#bg {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #eee;
}
#kek {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#info {
  border: 0;
  background: transparent;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
}
.no-select {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
