* {
  font-family: "PT Sans", sans-serif;
}
a {
  display: block;
  color: black;
  padding: 5px;
  border: 1px black solid;
  border-radius: 2px;
  text-decoration: none;
}
button {
  width: 90px;
  height: 90px;
  border: 1px red solid;
  background: white;
  vertical-align: middle;
}
td {
  width: 92px;
  height: 92px;
  padding: 0
}
.wrapper {
  text-align: center;
}
.container {
  display: inline-block;
}
#output {
  border: 1px red solid;
  background: white;
  padding: 5px;
}
.red {
  color: red;
  font-size: 70px;
}
.blue {
  color: blue;
  font-size: 70px;
}
