* {
  font-family: "PT Sans", sans-serif;
}
a {
  display: block;
  color: black;
  padding: 5px;
  border: 1px black solid;
  border-radius: 2px;
  text-decoration: none;
}
button {
  width: 50px;
  height: 50px;
  border: 1px red solid;
  background: white;
}
td {
  width: 52px;
  padding: 0
}
.wrapper {
  text-align: center;
}
.container {
  display: inline-block;
}
#output {
  border: 1px red solid;
  background: white;
  padding: 5px;
}
.red {
  color: red;
  font-size: 35px;
}
.blue {
  color: blue;
  font-size: 35px;
}
