.container {
  display: inline-block;
  background: white;
  border-radius: 5px;
  padding: 10px;
  width: 600px
}
table {
  margin: 10px
}
body {
  background: lightgray;
}
h1, h2 {
  font-family: "PT Serif", serif;
  margin: 0
}
h1 {
  font-size: 3em
}
h2 {
  font-size: 2em
}
.slash {
  color: orange;
}
a {
  color: orange;
  text-decoration: underline;
}
a:hover {
  color: maroon;
  text-decoration: none;
}
a:active {
  color: brown;
  text-decoration: none;
}
