body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  height: 100%;
  }
a {
  color: black;
  }
  a:visited {
    color: black;
    }
  a:hover {
    color: #f77;
    text-decoration: none;
    }
.center {
  text-align: center;
  }
  .center__in {
    display: inline-block;
    }
.page {
  max-width: 600px;.
  }
.topbar {
  width: 100%;
  background-color: rgba(255, 255, 255, .7);
  display: flex;
  justify-content: space-around;
  position: fixed;
  }
  .topbar a {
    font-family: monospace;
    }

.copyright {
  display: flex;
  align-items: center;
}

.copyright * {
  margin: 3px;
}

.copyright__sum {
  display: flex;
  flex-direction: column;
}

.copyright__upper-bound {
  font-size: .8em;
  line-height: 0;
}

.copyright__sigma {
  font-size: 3em;
}

.copyright__lower-bound {
  font-size: .8em;
}

.copyright__n {
  font-style: italic;
}
