<!DOCTYPE html>
<html lang="ru">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <b><a href="{{ site.baseurl }}/">Cozy bedside</a></b>
        <ul>
          <li><a href="https://github.com/bouncepaw">github</a></li>
          <li><a href="https://t.me/bouncepaw">telegram</a></li>
        </ul>
      </div>
    </nav>

    <main>
    <div class="post">
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-line"></div>

      {{ content }}

    </div>
    </main>
    <footer>
      {% include date.html %}
    </footer>
  </body>
</html>
