<!DOCTYPE html>
<html lang="ru">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <b><a href="{{ site.baseurl }}/">/</a></b>
      </div>
      <ul>
        <li><a href="https://github.com/bouncepaw">гитхаб</a></li>
        <li><a href="https://t.me/bouncepaw">телега</a></li>
      </ul>
    </nav>

    <main>
    <div class="post">
      <div class="post-info">
        <time datetime="{{ page.date }}">{{ page.date | "%y-%m-%d"}}</time>
      </div>

      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-line"></div>

      {{ content }}

    </div>
    </main>
  </body>
</html>
